.container {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    background-color: chartreuse;
    flex-flow: row wrap;
    font-size: 16px;
}
.for-nav ul {
    display: flex;
    justify-content: space-around;
}
.for-nav ul li {
    margin-left: 20px;
}
@media  screen and (min-width: 700px) {
    .container {
        max-width: 700px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 15px auto;
        background-color: red;
        color: blue;
        flex-flow: row wrap;
        font-size: 20px;
    }
    .for-nav ul li {
        margin-left: 35px;
    }
}
@media  screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        background-color: green;
        color: orangered;
        flex-flow: row wrap;
        font-size: 26px;
    }
    .for-nav ul li {
        margin-left: 50px;
    }
}